{# -*- engine:django -*- #}

{% extends "core/base.html" %}
{% load material_form i18n static %}


{% block browser_title %}{% trans "Import CSV data" %}{% endblock %}
{% block page_title %}{% trans "Import CSV data" %}{% endblock %}

{% block content %}
  <div class="alert info">
    <p>
      <i class="material-icons left">info</i>
      {% blocktrans %}
        You can import data from several school administration software using this CSV importer. Please read the notes
        according to your software below! Sometimes there is needed a special procedure to import the data correctly.
      {% endblocktrans %}
    </p>
  </div>

  <ul class="collapsible">
    <li>
      <div class="collapsible-header">{% trans "SchILD-NRW" %}</div>
      <div class="collapsible-body">
        <div class="alert info">
          <p>
            <i class="material-icons left">info</i>
            {% blocktrans %}
              SchILD-NRW provides export functions for basic data of students,
              teachers and guardians as CSV files. To generate CSV files in the correct format for the built-in import
              template, please use the following templates:
            {% endblocktrans %}
          </p>
        </div>
        <div class="collection">
          <a class="collection-item" href="{% static 'csv_import/schild_nrw/schild_aleksis_schueler.txt' %}">
            {% blocktrans %}SchILD-NRW CSV export template for students{% endblocktrans %}
          </a>
          <a class="collection-item" href="{% static 'csv_import/schild_nrw/schild_aleksis_lehrer.txt' %}">
            {% blocktrans %}SchILD-NRW CSV export template for teachers{% endblocktrans %}
          </a>
          <a class="collection-item" href="{% static 'csv_import/schild_nrw/schild_aleksis_eltern.txt' %}">
            {% blocktrans %}SchILD-NRW CSV export template for guardians{% endblocktrans %}
          </a>
        </div>
      </div>
    </li>
  </ul>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% form form=upload_form %}{% endform %}

    {% trans "Import data" as caption %}
    {% include "core/save_button.html" with icon="cloud_upload" caption=caption %}
  </form>
{% endblock %}
