{# -*- engine:django -*- #}

{% extends "core/base.html" %}
{% load material_form i18n static %}


{% block browser_title %}Import SchILD-NRW data{% endblock %}
{% block page_title %}Import SchILD-NRW data{% endblock %}

{% block content %}
    <p class="flow-text">
      {% blocktrans %}
        SchILD-NRW provides export functions for basic data of students,
        teachers and guardians as CSV files. You can import a set of such files
        here.
      {% endblocktrans %}
    </p>
    <hr />
    <p>
      {% blocktrans %}
        To generate CSV files in the correct format, please use the following
        templates:
      {% endblocktrans %}
    </p>
    <ul>
      <li>
        <a href="{% static 'schild_nrw/schild_aleksis_schueler.txt' %}">
          {% blocktrans %}SchILD-NRW CSV export template for students{% endblocktrans %}
        </a>
      </li>
      <li>
        <a href="{% static 'schild_nrw/schild_aleksis_lehrer.txt' %}">
          {% blocktrans %}SchILD-NRW CSV export template for teachers{% endblocktrans %}
        </a>
      </li>
      <li>
        <a href="{% static 'schild_nrw/schild_aleksis_eltern.txt' %}">
          {% blocktrans %}SchILD-NRW CSV export template for guardians{% endblocktrans %}
        </a>
      </li>
    </ul>
  </div>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% form form=upload_form %}{% endform %}
    {% trans "Import" as caption %}
    {% include "core/save_button.html" with icon="cloud_upload" caption=caption %}
  </form>
{% endblock %}
